.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
}

.main {
  grid-column: 2/6;
  margin-left: 0.5rem;
  border: solid 0.5px gray;
  border-radius: 5px;
  padding: 0.5rem;
}

.sidebar {
  border: solid 0.5px gray;
  border-radius: 5px;
}

ol.list {
  list-style-type: none;
  font-size: 1rem;
}

ol.list > li {
  font-weight: bold;
  color: purple;
  padding-bottom: 1rem;
}

.resource {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.get-method {
  background-color: purple;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
  font-weight: bold;
}

.post-method{
  background-color: green;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
  font-weight: bold;
}

.path{}dfdfdfddf




